[submodule "config/kitty/themes/catppuccin"]
	path = config/kitty/themes/catppuccin
	url = git@github.com:catppuccin/kitty.git
[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = git@github.com:catppuccin/alacritty.git
