command_timeout = 5000
scan_timeout = 5000
format = """$custom$directory$all$character$git_branch$git_metrics$git_status"""
# right_format = """$package$docker_context$cmake$conda$deno$golang$helm$java$kotlin$lua$nodejs$python$rust$ruby$scala"""
continuation_prompt = "▶▶"
add_newline = true

[aws]
style = "bold blue"
symbol = "  "
format = '[$symbol($profile)(\($region\))(\[$duration\])]($style)'

[character]
format = "$symbol"
success_symbol = "[ ](fg:black bg:green)"
error_symbol = "[ ](fg:black bg:red)"
vimcmd_symbol = "[ ](fg:black bg:blue)"
vimcmd_visual_symbol = "[ ](fg:black bg:yellow)"
vimcmd_replace_symbol = "[R](fg:black bg:purple)"
vimcmd_replace_one_symbol = "[r](fg:black bg:purple)"

[cmake]
symbol = " △ "
format = '[$symbol($version)]($style)'

[cmd_duration]
format = '[⏱ $duration ]($style)'

[conda]
symbol = "  "
format = '[$symbol$environment]($style)'

[crystal]
format = '[$symbol($version)]($style)'

[dart]
symbol = "  "
format = '[$symbol($version)]($style)'

[deno]
detect_folders = ["deno", "denops"]
format = '[$symbol($version)]($style)'

[docker_context]
symbol = "  "
format = '[$symbol$context]($style)'

[dotnet]
disabled = true

[elixir]
symbol = "  "
format = '[$symbol($version \(OTP $otp_version\))]($style)'

[elm]
symbol = "  "
format = '[$symbol($version)]($style)'

[erlang]
format = '[$symbol($version)]($style)'

[gcloud]
format = '[$symbol$account(@$domain)(\($region\))]($style)'

[git_branch]
always_show_remote = false
style = "fg:#CDD6F4 bg:#313244"
symbol = " "
format = '[ $symbol$branch(:$remote_name/$remote_branch) ]($style) '

[git_metrics]
disabled = false
only_nonzero_diffs = true
format = '( [  $added]($added_style) )([  $deleted]($deleted_style) )'

[git_status]
conflicted = "[ $count](bold red)"
ahead = "[⇡ $count](bold cyan)"
behind = "[⇣ $count](bold cyan)"
untracked = "[ $count](bold purple)"
stashed = "[ $count](bold cyan)"
modified = "[ $count](bold yellow)"
staged = "[ $count](bold green)"
renamed = "[ $count](bold blue)"
deleted = "[✘ $count](bold red)"
format = "( $conflicted )( $stashed )( $deleted )( $renamed )( $modified )( $staged )( $untracked )"
# format = '$all_status$ahead_behind'

[golang]
symbol = "  "
format = '[$symbol($version)]($style)'

[helm]
format = '[$symbol($version)]($style)'

[hg_branch]
symbol = "  "
format = '[$symbol$branch]($style)'
disabled = false

[java]
symbol = "  "
version_format = "${major}.${minor}"
format = '[$symbol($version)]($style)'

[julia]
symbol = "  "
format = '[$symbol($version)]($style)'

[kotlin]
format = '[$symbol($version)]($style)'

[kubernetes]
disabled = false
symbol = '☸ '
style = 'bold blue'
format = '[$symbol$context(\($cluster/$namespace\))]($style)'

[line_break]
disabled = false

[lua]
format = '[$symbol($version)]($style)'

[nim]
symbol = "  "
format = '[$symbol($version)]($style)'

[nix_shell]
symbol = "  "
format = '[$symbol$state( \($name\))]($style)'

[nodejs]
symbol = "  "
detect_extensions = []
version_format = "${major}.${minor}"
format = '[$symbol($version)]($style)'

[ocaml]
format = '[$symbol($version)(\($switch_indicator$switch_name\))]($style)'

[openstack]
format = '[$symbol$cloud(\($project\))]($style)'

[package]
symbol = "  "
format = '[$symbol$version]($style)'

[perl]
symbol = "  "
format = '[$symbol($version)]($style)'

[php]
symbol = "  "
format = '[$symbol($version)]($style)'

[purescript]
format = '[$symbol($version)]($style)'

[python]
symbol = "  "
detect_folders = [".venv", "venv"]
python_binary = [".venv/bin/python", "venv/bin/python", "python3", "python"]
version_format = "${major}.${minor}"
format = '[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))]($style)'

[red]
format = '[$symbol($version)]($style)'

[ruby]
symbol = "  "
format = '[$symbol($version)]($style)'

[rust]
symbol = "  "
version_format = "${major}.${minor}"
format = '[$symbol($version)]($style)'

[scala]
symbol = "  "
format = '[$symbol($version)]($style)'

[swift]
symbol = " ﯣ "
format = '[$symbol($version)]($style)'

[terraform]
format = '[$symbol$workspace]($style)'

[time]
format = '[$time]($style)'

[username]
format = '[$user]($style)'

[vagrant]
format = '[$symbol($version)]($style)'

[vlang]
format = '[$symbol($version)]($style)'

[zig]
format = '[$symbol($version)]($style)'

[directory]
read_only = " "
truncate_to_repo = true
truncation_length = 4
# style = "fg:#CDD6F4"
format = "[ $path ]($style)[$read_only ]($read_only_style) "

[shlvl]
disabled = false
style = "bold yellow"
threshold = 2
format = "[SHLVL:$shlvl]($style) "

[memory_usage]
symbol = "  "
disabled = true
threshold = 50
style = "bold dimmed green"
format = '$symbol[$ram( | $swap)]($style)'

[hostname]
ssh_only = true
format = '[$hostname:](bold red)'
trim_at = ".companyname.com"
disabled = false

[custom.toolbox]
# command = """hostname"""
when = """ test -e /run/.containerenv """
symbol = "⬢"
format = '[$symbol ](bold blue)'
